body {
  margin: 0;
  overflow: hidden;
  background: url('https://raw.githubusercontent.com/Yiyuss/my-game/main/170117-2330-1-VqLzt.jpg') no-repeat center center fixed;
  background-size: cover;
}

#game-canvas {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

#start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 24px;
  background-color: #28a;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  z-index: 10;
}

#game-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
  display: none;
}
